[submodule "reference/eudi-doc-architecture-and-reference-framework"]
	path = reference/eudi-doc-architecture-and-reference-framework
	url = https://github.com/eu-digital-identity-wallet/eudi-doc-architecture-and-reference-framework.git
	branch = main
[submodule "reference/eudi-doc-standards-and-technical-specifications"]
	path = reference/eudi-doc-standards-and-technical-specifications
	url = https://github.com/eu-digital-identity-wallet/eudi-doc-standards-and-technical-specifications.git
	branch = main
[submodule "reference/ewc-eudi-wallet-rulebooks-and-schemas"]
	path = reference/ewc-eudi-wallet-rulebooks-and-schemas
	url = https://github.com/EWC-consortium/eudi-wallet-rulebooks-and-schemas
	branch = main
[submodule "reference/eid-wallet-it-docs"]
	path = reference/eid-wallet-it-docs
	url = https://github.com/italia/eid-wallet-it-docs
	branch = versione-corrente
[submodule "reference/wp4-architecture"]
	path = reference/webuild-wp4-architecture
	url = https://github.com/webuild-consortium/wp4-architecture
	branch = main
[submodule "reference/eudi-doc-attestation-rulebooks-catalog"]
	path = reference/eudi-doc-attestation-rulebooks-catalog
	url = https://github.com/eu-digital-identity-wallet/eudi-doc-attestation-rulebooks-catalog.git
[submodule "docs/rulebook/wp2-trust-specifications"]
	path = docs/rulebook/wp2-trust-specifications
	url = https://github.com/APTITUDE-Consortium/wp2-trust-specifications
	branch = main
